		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u">
							<section>
								<header>
									<h2>Dernières nouvelles</h2>
								</header>
								<ul class="dates">
								{% for post in site.posts offset: 0 limit: 5 %}
									<li>
										<span class="date">{{ post.date | date: "%B"}} <strong>{{ post.date | date: "%d"}}</strong></span>
										<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
										{{ post.excerpt }}
									</li>
								{% endfor %}
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>?</h2>
								</header>
								<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic10.jpg" alt="" /></a>
								<p>
									<strong>HappyChauffeur</strong> est un service créé et opéré par Labacar, startup de Mobility Founders, le startup studio spécialisé dans la mobilité 
								</p>
								<footer>
									<a href="http://www.mabilityfounders.com" class="button">Découvrez MobilityFounders</a>
								</footer>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<section>
								<header>
									<h2>Nous recrutons</h2>
								</header>
								<ul class="divided">
									<li><a href="#">Développeur Full Stack RoR</a></li>
									<li><a href="#">Stagiaire Datascience</a></li>
									<li><a href="#">Stagiaire Business Dev</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Les autres startups de Mobility Founders</h2>
								</header>
								<ul class="divided">
									<li><a href="http://www.zeloce.com">Zeloce</a> Location d'utilitaire avec chauffeur</li>
									<li><a href="http://http://mobilityfounders.com/pricemoov/">PriceMoov</a> Solution de Yield Management</li>
									<li><a href="http://mobilityfounders.com/carmoov/">CarMoov</a>Plateforme de véhicules en libre-service</li>
									<li><a href="http://www.labacar.com">Labacar</a>Développement Software agile</li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Nous contacter</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="https://www.facebook.com/labacarcom/"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="https://twitter.com/labacar_com"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-linkedin" href="https://www.linkedin.com/company/11008126"><span class="label">LinkedIn</span></a></li>
								</ul>
								<ul class="contact">
									<li>
										<h3>Adresse</h3>
										<p>
											1 quai Gabriel Péri<br />
											
											94100 Joinville le Pont
										</p>
									</li>
									<li>
										<h3>Mail</h3>
										<p><a href="mailto:d@labacar.com">d (at) labacar.com</a></p>
									</li>
									<li>
										<h3>Tél</h3>
										<p>0671627239</p>
									</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; Labacar. All rights reserved.</li><li>Design: <a href="http://labacar.com">Labacar</a></li>
										
										<li> Member of: <a href="http://MobilityFounders.com">MobilityFounders Startup Studio</a></li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>

	</body>
</html>
