<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">HappyChauffeur</a></h1>

					<!-- Nav -->
					
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li ><a href="offre.html">Notre offre</a></li>
								<li ><a href="apropos.html">A propos</a></li>
								<!--<li>
									<a href="">Dropdown</a>
									<ul>
										<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="">Phasellus consequat</a>
											<ul>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
												<li><a href="#">Veroeros feugiat</a></li>
												<li><a href="#">Nisl sed aliquam</a></li>
												<li><a href="#">Dolore adipiscing</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								<li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
								-->
							</ul>
						</nav>
					
					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Plus de courses, moins d'attente</h2>
								<p>Dès que je dépose un client, un message pour me dire où aller</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-heart-o"></i>
										<header>
											<h2>Plus de courses</h2>
										</header>
										<p>Passez plus de temps avec des clients qui payent, moins de temps à rouler à vide</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-check-square-o"></i>
										<header>
											<h2>Simple</h2>
										</header>
										<p>Pas besoin d'application, vous recevez un message dès que vous terminez une course vous disant où aller.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-euro"></i>
										<header>
											<h2>Rentable</h2>
										</header>
										<p>Gagnez entre 10 et 20% de chiffre d'affaire en plus, chaque jour.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button big">Je m'inscris</a></li>
									<li><a href="#" class="button alt big">En savoir plus</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>